@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap");
@import url("footer.css");
@import url("header.css");

.container {
  display: grid;
  width: 100%;
  grid-template-rows: 150px 660px 0px 80px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd sd sd sd sd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  /*border: 2px solid yellow; */
  border: 2px solid yellow;
}

.box {
  display: flex;
  width: auto;
  /*align-items: center;*/
  justify-content: center;
  border: 1px solid #d3d3d3;

  /*justify-content: center; */
}

.sidebar {
  grid-area: sd;
  padding: 20px;
}
.card {
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 30rem;
}

.card-title {
  margin: 5px;
}

.card-img-top {
  padding: 2px;
  width: 478px;
}

.btn-primary {
  background-color: red;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.foot {
  padding-top: 20px;
  font-size: 30px;
}

.card-text {
  font-size: 20px;
  padding: 5px;
}

.btn {
  padding: 10px;
  margin: 5px;
}

@media (min-width: 415px) and (max-width: 900px) {
  .container {
    display: grid;
    width: 100%;
    /*margin: auto;

			/*flex-direction: row;
			justify-content: center;
			border: 2px solid grey;
			align-items: center;
			/*text-align: center;*/
    /*grid-template-columns: 30px 200px;*/
    grid-template-rows: 150px 660px 0px 80px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd sd sd sd sd sd sd sd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    /*border: 2px solid yellow; */
    border: 2px solid yellow;
  }
  .card-img-top {
    width: 30rem;
  }

  .card-text {
    font-size: 16px;
  }

  .card {
    width: 30rem;
  }

  .box {
    display: flex;
    width: 100%;
    /*align-items: center;*/
    justify-content: center;
    border: 1px solid #d3d3d3;

    /*justify-content: center; */
  }

  .header {
    width: 100%;
    background-color: yellow;
  }

  .footer {
    width: 100%;
    background-color: yellow;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .container {
    display: grid;
    width: 100%;
    /*margin: auto;

			/*flex-direction: row;
			justify-content: center;
			border: 2px solid grey;
			align-items: center;
			/*text-align: center;*/
    /*grid-template-columns: 30px 200px;*/
    grid-template-rows: 150px 660px 0px 80px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd sd sd sd sd sd sd sd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    /*border: 2px solid yellow; */
    border: 2px solid yellow;
  }
  .card-img-top {
    width: 15rem;
  }

  .card-text {
    font-size: 9px;
  }

  .card {
    width: 15rem;
  }

  .box {
    display: flex;
    width: 90%;
    /*align-items: center;*/
    justify-content: center;
    border: 1px solid red;

    /*justify-content: center; */
  }

  .footer {
    width: 100%;
  }

  .header {
    width: 100%;
  }
}
